.wrapper {
  border-radius: 12px;
  border: 1px solid var(--grey-200, #eaebed);
  background: #fff;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  max-width: 773px;
  margin: auto;

  h2 {
    font: 700 28px Inter;
    line-height: normal;
    color: var(--Black, #232134);
  }

  .info {
    display: flex;
    gap: 16px;

    div {
      color: var(--black, #232134);
      font-feature-settings: "clig" off, "liga" off;
      font: 700 20px Inter;
      line-height: 20px;

      &::after {
        content: "•";
        padding-left: 12px;
        color: var(--grey-600, #7b7c88);
      }
    }

    p {
      color: var(--black, #232134);
      font-feature-settings: "clig" off, "liga" off;
      font: 400 20px Inter;
      line-height: 20px;
    }
  }

  .location {
    display: flex;

    .logoLocation {
      background-image: url(./assets/logoLocation.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 20px;
      height: 20px;
    }

    p {
      color: var(--black, #232134);
      font: 400 16px Inter;
      line-height: 140%;
      padding-left: 8px;
    }
  }
}

.cardWrapper {
  border-radius: 12px;
  border: 1px solid var(--Grey-200, #eaebed);
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
  max-width: 773px;
  margin: 20px auto;

  .responsibilities,
  .requirements,
  .conditions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2 {
      color: var(--Black, #232134);
      font-feature-settings: "clig" off, "liga" off;
      font: 700 20px Inter;
      line-height: 20px;
    }

    ul {
      color: var(--Black, #232134);
      font: 400 16px Inter;
      line-height: 140%;
      padding: 16px 24px 0 20px;
    }
  }
}
